<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>丸美产品溯源查询</title>
    <head th:replace="./layout/meta::commonInsite"></head>
    <link rel="stylesheet" th:href="@{/lib/css/global.css}">

</head>
<body style="background-color: white">
<div class="bg-f4f4f4" id="app">
    <input th:value="${session.wlmidcode}" id="wlmidcode"
           type="text" style="display:none"/>

    <!--<template th:if=""></template>-->
    <div th:if="${type=='fail'}">
        <!-- 产品不存在页面 -->
        <div class="bg goods-main">
            <div class="logo"><a href="index.html" title=""><img th:src="@{/upload/image/logo.png}" alt=""></a></div>
            <div class="not-found">
                <img th:src="@{/upload/image/img-notfound.png}" alt="">
                <p id="notFound"></p>
            </div>
            <div class="goods-name not-found-name">
                <h2><i class="approve"></i><span class="companyName"></span></h2>
            </div>
        </div>
    </div>
    <div th:if="${type=='success'}">
        <!--         产品存在页面             -->
        <div class="bg goods-main" style="padding-bottom: 1px">

            <div class="layui-carousel" th:if="${null!=goodsInfo && null != goodsInfo.multiImg}" id="carouselDiv">
                <div carousel-item="">
                    <div th:each="item,index: ${goodsInfo.multiImg}">
                        <img th:src="@{${item}}" alt="">
                    </div>
                </div>
            </div>
            <div class="not-found" th:unless="${null!=goodsInfo && null==goodsInfo.multiImg}">
                <img th:src="@{/upload/image/pig.png}" alt="">
                <p id="notGoods"></p>
            </div>
            <div class="goods-name" th:if="${null!=goodsInfo && null!=goodsInfo.goodsName}">
                <h1 th:text="${goodsInfo.goodsName}"></h1>
                <h2><i class="approve"></i><span class="companyName"></span></h2>
            </div>
        </div>
        <div th:if="${null!=goodsInfo && null != goodsInfo.videoUrl && '' != goodsInfo.videoUrl}">
            <div class="goods-description">
                <div class="description-main">
                    <video class="goods-video" th:src="@{${goodsInfo.videoUrl}}" controls="" autoplay></video>
                </div>
            </div>
        </div>
        <div class="goods-description">
            <p class="description-title">产品信息</p>
            <div class="goods-attribute">
                <ul class="first-ul">
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.goodsName}">
                        <div class="attribute">
                            <div class="attribute-name">产品名称</div>
                            <div class="attribute-con" th:text="${goodsInfo.goodsName}"></div>
                        </div>
                    </li>
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.goodsPrice}">
                        <div class="attribute">
                            <div class="attribute-name">产品价格</div>
                            <div class="attribute-con" th:text="${goodsInfo.goodsPrice}"></div>
                        </div>
                    </li>
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.netWeight}">
                        <div class="attribute">
                            <div class="attribute-name">产品规格</div>
                            <div class="attribute-con" th:text="${goodsInfo.netWeight}"></div>
                        </div>
                    </li>
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.goodsInfo}">
                        <div class="attribute">
                            <div class="attribute-name">产品信息</div>
                            <div class="attribute-con text-left" th:utext="${goodsInfo.goodsInfo} "></div>
                        </div>
                    </li>
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.goodsUsage}">
                        <div class="attribute">
                            <div class="attribute-name">使用方法</div>
                            <div class="attribute-con text-left" th:utext="${goodsInfo.goodsUsage}"></div>
                        </div>
                    </li>
                    <li th:if="${null!=goodsInfo && null!=goodsInfo.goodsTech}">
                        <div class="attribute">
                            <div class="attribute-name">创新科技</div>
                            <div class="attribute-con text-left" th:utext="${goodsInfo.goodsTech}"></div>
                        </div>
                    </li>
                </ul>
                <div class="show-button">
                    <p onclick="showMore()">...</p>
                </div>
                <transition name="show-slide">
                    <ul id="showMoreList" class="second-ul ">
                        <li th:if="${#maps.containsKey(obj,'p_packcode')}">
                            <div class="attribute">
                                <div class="attribute-name">溯源码</div>
                                <div class="attribute-con" th:text="${obj.p_packcode }"></div>
                            </div>
                        </li>
                        <li th:if="${#maps.containsKey(obj,'batch')}">
                            <div class="attribute">
                                <div class="attribute-name">生产批号</div>
                                <div class="attribute-con" th:text="${ obj.batch }"></div>
                            </div>
                        </li>
                        <li th:if="${#maps.containsKey(obj,'producedate')}">
                            <div class="attribute">
                                <div class="attribute-name">生产日期</div>
                                <div class="attribute-con" th:text="${ obj.producedate }"></div>
                            </div>
                        </li>
                        <li th:if="${#maps.containsKey(obj,'cname')}">
                            <div class="attribute">
                                <div class="attribute-name">代理商名称</div>
                                <div class="attribute-con" th:text="${obj.cname }"></div>
                            </div>
                        </li>
                        <li th:if="${null!=goodsInfo && null!=goodsInfo.proName}">
                            <div class="attribute">
                                <div class="attribute-name">生产商名称</div>
                                <div class="attribute-con" th:text="${goodsInfo.proName}"></div>
                            </div>
                        </li>
                        <li th:if="${null!=goodsInfo && null!=goodsInfo.proAddress}">
                            <div class="attribute">
                                <div class="attribute-name">生产商地址</div>
                                <div class="attribute-con" th:text="${goodsInfo.proAddress}"></div>

                            </div>
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <!--         使用体验 -->
        <div class="goods-description" th:if="${null != goodsComments}">
            <p class="description-title">使用体验</p>
            <!--<div th:each="item,index: ${goodsInfo.multiImg}" class="swiper-slide">
                <img th:src="@{${item}}" alt="">
                &lt;!&ndash;                                 th:onerror="javascript:this.src='th:src='@{/upload/image/nopic.jpg}';">&ndash;&gt;
            </div>-->
            <div class="goods-attribute">
                <ul class="first-ul">
                    <li class="user-item" th:each="item,index: ${goodsComments}">
                        <div class="user-item-inner" th:if="${index.index < 3}">
                            <p class="user-name" th:text="${item.title}"></p>
                            <p class="user-say" th:text="${item.content}"></p>
                            <ul class="user-img-list">
                                <li class="user-img-item" th:each="imgs,i: ${item.galList}"
                                    onclick="showGallery(index,i)">
                                    <img th:src="@{${imgs}}" alt="" class="img-user-img">
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="show-button" th:if="${null!=goodsComments && goodsComments.size() >3}">
                    <p onclick="showComment()">...</p>
                </div>
                <transition name="show-slide">
                    <ul id="isShowMoreComment" class="second-ul">
                        <li class="user-item" th:each="item,index: ${goodsComments}">
                            <div class="user-item-inner" th:if="${index.index >= 3}">
                                <p class="user-name" th:text="${item.title}"></p>
                                <p class="user-say" th:text="${item.content}"></p>
                                <ul class="user-img-list">
                                    <li class="user-img-item" th:each="imgs,i: ${item.galList}"
                                        onclick="showGallery(index,i)">
                                        <img th:src="@{${imgs}}" alt="" class="img-user-img">
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <div class="goods-detail" th:if="${null!=goodsInfo && null!=goodsInfo.imgUrl}">
            <p class="detail-title">图文详情</p>
            <div class="detail-main">
                <img th:src="@{${goodsInfo.imgUrl}}" alt="">
            </div>
        </div>
    </div>
    <!-- 默认页面 -->
    <div class="bg goods-main" th:if="${type!='fail' && type!='success'}">
        <div  class="logo">
            <a href="index.html" title="">
            <img  th:src="@{/upload/image/logo.png}" alt="">
        </a>
        </div>
        <div class="not-found">
            <img th:src="@{/upload/image/img_find.png}"  alt="">
            <p id="sysName"></p>
        </div>
        <div class="goods-name not-found-name">
            <h2><i class="approve"></i><span class="companyName"></span></h2>
        </div>
    </div>
    <div class="service-tel ov" style="display: block;">
        <div class="fl">客服电话</div>
        <div class="fr" id="telephone"></div>
        <a class="call" id="callTel" href="" title="">拨打</a>
    </div>
</div>
<!-- loading -->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
    <div class="big-gallery-container" id="gallContainer">
        <div class="big-gallery-mask" onclick="closeGalleryMask()"></div>
        <div class="swiper-container big-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="gallConDiv" >
            </div>
        </div>
        <div class="close-btn" onclick="closeGalleryMask()"></div>
    </div>
</div>

</div>

</body>
<script th:inline="javascript">
    let type = [[${type}]]
    //console.log('goodsInfo: ', [[${goodsInfo}]])
</script>
<script type="text/javascript">
    let data = {
        closed: false,
        type: "",
        searching: false,
        sysName: "丸美产品溯源查询系统！",
        notFound: "未查询到相关商品！",
        notGoods: "该商品为正品！",
        telephone: "4008304000",
        companyName: "广东丸美生物技术股份有限公司",
        code: "",
        isShow: false,
        // showButtonText:'查看更多>>',
        chunjiUrl: "http://p.cac-chunji.com",
        api: {
            //baseUrl: "http://p.marubi.cn/backend/api.php",
            baseUrl: "/api",
            search: "/search"
        },
        goods: {},
        comments: null,
        isShowGallery: false,
        activeComment: null,
        isShowMoreComment: false
    }
    var showMore;
    var showComment;
    var showGallery;
    var closeGalleryMask;
    layui.use(['jquery', 'carousel'], function () {
        let $ = layui.jquery
        let carousel = layui.carousel
        let toShow = function toShow() {
            if (data.isShow) {
                $("#showMoreList").show();

            } else {
                $("#showMoreList").hide();
            }
            data.isShow = !data.isShow;
        }
        let toShowComment = function toShowComment() {
            if (data.isShowMoreComment) {
                $("#isShowMoreComment").show();

            } else {
                $("#isShowMoreComment").hide();
            }
            data.isShowMoreComment = !data.isShowMoreComment;
        }
        let toShowGallery = function toShowGallery(index, i) {
            window.document.body.style.overflow = "hidden"
            data.activeComment = data.comments[index]
            data.isShowGallery = true
            this.$nextTick(() => {
                var gallerySwiper = new Swiper('.big-gallery', {
                    initialSlide: i,
                    autoHeight: true
                })
            })
        }
        let toCloseGalleryMask = function  toCloseGalleryMask() {
            this.isShowGallery = false
            window.document.body.style.overflow = "auto"
        }
        showMore = toShow;
        showComment = toShowComment;
        showGallery = toShowGallery;
        closeGalleryMask = toCloseGalleryMask;
        $(function () {
            $('#notFound').html(data.notFound)
            $('.companyName').html(data.companyName)
            $('#sysName').html(data.sysName)
            $('#notGoods').html(data.notGoods)
            $('#telephone').text(data.telephone)
            $('#callTel').attr("href","tel:"+data.telephone)
            $('#isShow').attr('href', data.isShow)
            //let wlmidcode = $('#wlmidcode').val()
            //console.log('wlmidcode: ', wlmidcode)
            toShow();
            toShowComment();

            if (data.isShowGallery && data.activeComment){
                $('#gallContainer').show();
            } else {
                $('#gallContainer').hide();
            }
        })
        carousel.render({
            elem: '#carouselDiv'
            , width: '100%'
            , height: '450px'
            , interval: 5000
        });


    })
</script>
</html>