<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>评价列表</title>
    <head th:replace="./layout/meta::commonInsite"></head>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">   <!--列间隔为25-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="commentsTable" lay-filter="commentsTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="tableBar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn" lay-event="add">
            <i class="layui-icon">&#xe654;</i>新增
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="edit">
            <i class="layui-icon">&#xe642;</i>编辑
        </button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn" lay-event="delete">
            <i class="layui-icon">&#xe640;</i>删除
        </button>
    </div>
</script>

<!--<script type="text/html" id="imgTmp">
    <img src="{{d.gallery}}" style="width: 100px; height: 100px"/>
</script>-->

<script th:inline=none>
    layui.use([ 'table' ], function () {
        let table = layui.table;
        let goodsId =localStorage.getItem("param")

        //表格渲染
        table.render({
            elem: '#commentsTable',
            id: 'commentsTable',
            url: '/goods/getComments' ,
            method: 'post',
            contentType: 'application/json',
            response: {
                statusCode: 200, //规定成功状态码为200
            },
            request: {
                pageName: 'pageNum', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.info, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                }
            },
            title: '评论列表',
            // height: 900,
            page: true,
            toolbar: '#tableBar',
            defaultToolbar: 'false',
            where: {goodsId: goodsId},
            cols: [[
                {
                    type: 'radio',
                    fixed: 'left'
                },
                {
                    field: 'id',
                    title: 'ID',
                    width: '50',
                    align: 'center'
                },
                {
                    field: 'title',
                    title: '名称',
                    width: '180',
                    align: 'center'
                },
                {
                    field: 'content',
                    title: '内容',
                    width: '500',
                    align: 'center'
                }
                /*{
                    field: 'gallery',
                    title: '图册',
                    align: 'center',
                    width: '200'
                    //,templet: '#imgTmp'
                }*/
            ]]
        })
        //查看选中行数据
        table.on('toolbar(commentsTable)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            let data = checkStatus.data;  //获取选中行数据
            switch (obj.event) {
                //编辑
                case 'edit':
                    if (ifCheck(data.length)) {
                        //编辑 tag为0
                        localStorage.setItem("tag", '0');
                        localStorage.setItem("param", data[0].id);
                        layer.open({
                            type: 2,
                            area: ['600px', '500px'],
                            fixed: false,
                            title: '编辑使用体验',
                            content: 'commentsEditOrAdd',
                            success: function (layero, index) {
                            }
                        })
                    }
                    break;
                //添加
                case 'add':
                    //添加产品 tag为1
                    localStorage.setItem("tag", '1');
                    localStorage.setItem("param", goodsId);
                    layer.open({
                        type: 2,
                        area: ['600px', '600px'],
                        fixed: false,
                        title: '添加使用体验',
                        content: 'commentsEditOrAdd'
                    })
                    break;
                case 'delete':
                    if(ifCheck(data.length)) {
                        layer.confirm('是否确认删除，删除后将不可恢复',
                            {btn: ['必须删','不删不删']},
                            function (){
                                $.ajax({
                                    url: '/goods/delComments',
                                    type: 'post',
                                    headers: {
                                        'content-type': 'application/json'
                                    },
                                    data: JSON.stringify(data[0]),
                                    datatype: 'json',
                                    success: function (res) {
                                        if ('200' == res.code) {
                                            layer.alert('删除成功')
                                            // 刷新表格
                                            table.reload('commentsTable', {
                                                page: {
                                                    curr: 1 //重新从第 1 页开始
                                                },
                                                where: data.field  //查询参数
                                            })
                                        } else {
                                            layer.alert(res.info)
                                        }
                                    },
                                    error: function (e) {
                                        layer.alert(e.responseJSON.error)
                                    }
                                })
                            }, function () {
                            });
                    }
                    break;
            }
        })

        function ifCheck(length) {
            if (length <= 0) {
                layer.alert('请先选择操作行')
                return false
            } else {
                return true
            }
        }
    });
</script>
<style>
</style>
</html>