<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
    <head th:replace="./layout/meta::commonInsite"></head>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">   <!--列间隔为25-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-form-item layui-inline layui-show-xs-block">
                            <label class="layui-form-label">产品编码：</label>
                            <div class="layui-input-inline">
                                <input name="matnr" placeholder="产品编码"
                                       type="text"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline layui-show-xs-block">
                            <label class="layui-form-label">产品名称：</label>
                            <div class="layui-input-inline">
                                <input name="goodsName" placeholder="产品名称"
                                       type="text"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline layui-show-xs-block">
                            <label class="layui-form-label">品牌名称：</label>
                            <div class="layui-input-inline">
                                <select name="categoryId" id="categoryId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline layui-show-xs-block">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">请选择</option>
                                    <option value="1">上架</option>
                                    <option value="0">下架</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" id="tableReload" data-type="reload"
                                    lay-submit="search" lay-filter="search"
                                    style="margin-left: 240px;"><i class="layui-icon">&#xe615;</i>搜索
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="goodsTable" lay-filter="goodsTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="tableBar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn" lay-event="add">
            <i class="layui-icon">&#xe654;</i>添加
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="edit">
            <i class="layui-icon">&#xe642;</i>编辑
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="detail">
            <i class="layui-icon">&#xe63c;</i>查看
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="comments">
            <i class="layui-icon">&#xe6af;</i>使用体验
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="statusChange">
            <i class="layui-icon">&#xe609;</i>上/下架
        </button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn" lay-event="delete">
            <i class="layui-icon">&#xe640;</i>删除
        </button>
    </div>
    <!--    <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="evaluate">使用体验</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    &lt;!&ndash;    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="import">数据导入</a>&ndash;&gt;-->
</script>
<script type="text/html" id="tableStatus">
    {{# if(d.status=== 0) { }}
    下架
    {{# } else if(d.status=== 1) { }}
    上架
    {{# } }}
</script>
<script th:inline=none>
    layui.use(['form', 'table', 'jquery'], function () {
        let form = layui.form;
        let table = layui.table;
        let $ = layui.jquery;

        //父级品牌选择
        $(function () {
            $.ajax({
                url: '/brand/getBrands',
                type: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                data: JSON.stringify({
                    "pageNum": 1,
                    "pageSize": 10
                }),
                datatype: 'json',
                success: function (res) {
                    if ('200' == res.code) {
                        $.each(res.data.records, function (index, item) {
                            $('#categoryId').append(new Option(item.categoryName, item.id))
                        })
                        form.render('select')
                    } else {
                        layer.alert(res.info)
                    }
                },
                error: function (e) {
                    layer.alert(e.responseJSON.error, {}, function () {
                    })
                }
            })
        })

        //监听提交
        form.on('submit(search)', function (param) {
            table.reload('goodsTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: param.field  //查询参数
            })
            return false;
        });
        //表格渲染
        table.render({
            elem: '#goodsTable',
            id: 'goodsTable',
            url: '/goods/getGoodsList',
            method: 'post',
            contentType: 'application/json',
            response: {
                statusCode: 200, //规定成功状态码为200
            },
            request: {
                pageName: 'pageNum', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.info, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                }
            },
            title: '产品列表',
            // height: 900,
            page: true,
            toolbar: '#tableBar',
            defaultToolbar: 'false',
            cols: [[
                {
                    type: 'radio',
                    fixed: 'left'
                },
                {
                    field: 'id',
                    title: 'ID',
                    width: '50',
                    align: 'center'
                },
                {
                    field: 'categoryName',
                    title: '品牌名称',
                    width: '100',
                    align: 'center',
                    templet: ''
                },
                {
                    field: 'matnr',
                    title: '产品编码',
                    width: '100',
                    align: 'center'
                },
                {
                    field: 'goodsName',
                    title: '产品名称',
                    width: '200',
                    align: 'center'
                },
                {
                    field: 'goodsPrice',
                    title: '建议零售价',
                    width: '90',
                    align: 'center'
                },
                {
                    field: 'netWeight',
                    title: '净含量',
                    width: '80',
                    align: 'center'
                },
                {
                    field: 'proName',
                    title: '生产商名称',
                    width: '140',
                    align: 'center'
                },
                {
                    field: 'address',
                    title: '生产商地址',
                    width: '240',
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    width: '90',
                    align: 'center',
                    templet: '#tableStatus',
                    unresize: true
                }
            ]]
        })

        //查看选中行数据
        table.on('toolbar(goodsTable)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            let data = checkStatus.data;  //获取选中行数据
            switch (obj.event) {
                //编辑
                case 'edit':
                    if (ifCheck(data.length)) {
                        //编辑产品信息 tag为0
                        localStorage.setItem("tag", '0');
                        localStorage.setItem("param", data[0].id);
                        layer.open({
                            type: 2,
                            area: ['700px', '600px'],
                            fixed: false,
                            title: '编辑产品信息',
                            content: 'goodsEditOrAdd'
                        })
                    }
                    break;
                //添加
                case 'add':
                    //添加产品 tag为1
                    localStorage.setItem("tag", '1');
                    layer.open({
                        type: 2,
                        area: ['700px', '600px'],
                        fixed: false,
                        title: '添加产品',
                        shadeClose: true,
                        content: 'goodsEditOrAdd'
                    })
                    break;
                //查看
                case 'detail':
                    if (ifCheck(data.length)) {
                        localStorage.setItem("param", data[0].id);
                        layer.open({
                            type: 2,
                            area: ['700px', '600px'],
                            fixed: false, //不固定
                            title: '查看产品信息',
                            content: 'goodsDetail'
                        })
                    }
                    break;
                //删除
                case 'delete':
                    if (ifCheck(data.length)) {
                        layer.confirm('是否确认删除，删除后将不可恢复',
                            {btn: ['必须删', '不删不删']},
                            function () {
                                $.ajax({
                                    url: '/goods/goodsDelete',
                                    type: 'post',
                                    headers: {
                                        'content-type': 'application/json'
                                    },
                                    data: JSON.stringify(data[0]),
                                    dataType: 'json',
                                    success: function (res) {
                                        if ('200' == res.code) {
                                            layer.alert('删除成功')
                                            // 刷新表格
                                            table.reload('goodsTable', {
                                                page: {
                                                    curr: 1 //重新从第 1 页开始
                                                },
                                                where: data.field  //查询参数
                                            })
                                        } else {
                                            layer.alert(res.info)
                                        }
                                    },
                                    error: function (e) {
                                        layer.alert(e.responseJSON.error)
                                    }
                                })
                            }, function () {
                            });
                    }
                    break;
                //评论
                case 'comments':
                    if (ifCheck(data.length)) {
                        localStorage.setItem("param", data[0].id);
                        layer.open({
                            type: 2,
                            area: ['900px', '600px'],
                            fixed: false, //不固定
                            title: '查看产品评价',
                            content: 'commentsList'
                        })
                    }
                    break;
                case 'statusChange':
                    let alertStr = "是否确定将此产品"
                    let param = {}
                    if (ifCheck(data.length)) {
                        if (0===data[0].status){
                            alertStr += "上架"
                            param.status = 1
                        } else {
                            alertStr += "下架"
                            param.status = 0
                        }
                        param.id = data[0].id

                        layer.confirm(alertStr,
                            {btn: ['确定', '取消']},
                            function () {
                                $.ajax({
                                    url: '/goods/statusChange',
                                    type: 'post',
                                    headers: {
                                        'content-type': 'application/json'
                                    },
                                    data: JSON.stringify(param),
                                    dataType: 'json',
                                    success: function (res) {
                                        if ('200' == res.code) {
                                            layer.alert('操作成功')
                                            // 刷新表格
                                            table.reload('goodsTable', {
                                                page: {
                                                    curr: 1 //重新从第 1 页开始
                                                },
                                                where: data.field  //查询参数
                                            })
                                        } else {
                                            layer.alert(res.info)
                                        }
                                    },
                                    error: function (e) {
                                        layer.alert(e.responseJSON.error)
                                    }
                                })
                            }, function () {
                            });
                    }
            }
        })

        function ifCheck(length) {
            if (length <= 0) {
                layer.alert('请先选择操作行')
                return false
            } else {
                return true
            }
        }
    });
</script>
<style>
    .layui-form-label {
        width: 120px
    }
</style>
</html>