<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>菜单管理</title>
  <head th:replace="./layout/meta::commonInsite"></head>

  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
</head>
<body>
<div class="layui-card-body">
  <form class="layui-form">
    <div class="layui-form-item">
      <div class="layui-form-item eleTree" id="menuTree" lay-filter="menuTree"></div>
    </div>
  </form>
</div>
</body>
<script type="text/javascript">
  layui.config({
    base: '/js/extModule/eletree/'
  }).extend({
    eleTree: 'eleTree'
  });
  layui.use(['form','jquery','eleTree'],function () {
    let $ = layui.jquery;
    let form = layui.form;
    let layer = layui.layer;
    let eleTree = layui.eleTree;

    $.post('/menu/getMenuTree', {}, function (res) {
      //基本演示
      eleTree.render({
        elem: '#menuTree',
        data: res.data,
        showCheckbox: true,
      });
    });
  })
</script>
</html>