<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>春纪产品溯源查询</title>
    <head th:replace="./layout/meta::commonInsite"></head>
    <link rel="stylesheet" th:href="@{/lib/css/global4Cj.css}">

</head>
<body>
<div class="bg-f4f4f4" id="app">
    <input th:value="${session.wlmidcode}" id="wlmidcode"
           type="text" style="display:none"/>
    <!-- loading -->
    <div id="loading">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>

    <!-- 查询成功：存在产品 -->
    <div th:if="${type=='success'}">
        <!-- 头部 -->
        <div class="chunji-header-wrap clear_float">
            <img th:src="@{/upload/image/header_img.jpg}" alt="">
        </div>
        <div class="chunji-area-bar"></div>

        <!-- 产品信息 -->
        <div th:if="${null!=goodsInfo }">
            <div class="chunji-main-area">
                <h1 class="chunji-main-title texc" style="font-family: 'YueGoTrial'" th:text="${goodsInfo.goodsName}"></h1>
                <p class="chunji-pro-info " style="font-family: 'YueGoTrial'">
                    净含量:<span class="second-tips" th:text="${goodsInfo.netWeight}"></span>
                    零售价:<span th:text="${goodsInfo.goodsPrice}+'元'"></span>
                </p>
                <!-- 图片 -->
                <div th:if="${null!=goodsInfo && null != goodsInfo.multiImg}" class="chunji-pro-img-wrap">
                    <div class="goods-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div th:each="item,index: ${goodsInfo.multiImg}" class="swiper-slide">
                                    <img th:src="@{${item}}" alt="">
                                    <!--                                         onerror="javascript:this.src='@{/upload/image/nopic.jpg}';">-->
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="no-image" style="font-family: 'YueGoTrial'" th:if="${null!=goodsInfo && null == goodsInfo.multiImg}">
                    春纪居然偷懒不上传图片,赶紧打个电话告诉他,扣他
                    <img class="jitui" th:src="@{/upload/image/chunji-jitui.png}">
                </div>

                <!-- 视频 -->
                <div th:if="${null!=goodsInfo && null != goodsInfo.videoUrl && '' != goodsInfo.videoUrl}"
                     class="chunji-pro-video">
                    <video class="goods-video" th:src="@{${goodsInfo.videoUrl}}" controls="" autoplay></video>
                </div>
            </div>
            <div class="chunji-area-bar"></div>
        </div>
        <!-- 厂家信息 -->
        <div th:if="${#maps.containsKey(obj,'agent_name')}">
            <div class="chunji-main-msg">
                <div class="chunji-msg-box">
                    <div class="chunji_msg_heart"></div>
                    <div th:if="${#maps.containsKey(obj,'product_name')}" class="chunji-msg-item">
                        <h2>厂家：</h2>
                        <p th:text="${goodsInfo.proName}"></p>
                    </div>
                    <div th:if="${#maps.containsKey(obj,'agent_name')}" class="chunji-msg-item">
                        <h2>代理商名称：</h2>
                        <p th:text="${obj.agent_name }"></p>
                    </div>
                    <div th:if="${#maps.containsKey(obj,'pboxcode')}" class="chunji-msg-item">
                        <h2>溯源码：</h2>
                        <p th:text="${obj.pboxcode }"></p>
                    </div>
                    <div th:if="${#maps.containsKey(obj,'producedate')}" class="chunji-msg-item">
                        <h2>生产日期：</h2>
                        <p th:text="${ obj.producedate }"></p>
                    </div>
                    <div th:if="${#maps.containsKey(obj,'batch')}" class="chunji-msg-item">
                        <h2>生产批号：</h2>
                        <p th:text="${ obj.batch }"></p>
                    </div>
                </div>
            </div>
            <div class="chunji-area-bar"></div>
        </div>
        <!--         底部 -->
        <!--        <footer-component></footer-component>-->
        <div class="chunji-button-wrap ftDiv" style="">
            <a onclick="goForum()" class="a4GoForum"
               style="">
                <img class="cjBgImg" style="width:100%;"/>
            </a>
            <a class="a4Tele" style="" href="">
            </a>
        </div>
    </div>

    <!-- 查询失败：不存在产品 -->
    <div th:if="${type=='fail'}">
        <div class="chunji-header-wrap clear_float">
            <img th:src="@{/upload/image/header_not_found_img.jpg}" alt="">
        </div>
        <div class="chunji-area-bar"></div>
        <!--        <footer-component></footer-component>-->
        <div class="chunji-button-wrap ftDiv" style="">
            <a onclick="goForum()" class="a4GoForum"
               style="">
                <img class="cjBgImg" style="width:100%;"/>
            </a>
            <a class="a4Tele" style="" href="">
            </a>
        </div>
    </div>

    <!-- 默认查询页面 -->
    <div th:if="${type!='fail' && type!='success'}">
        <div class="bg goods-main searchDiv" style="display: none;">
            <div class="logo">
                <a href="index.html" title="">
                    <img th:src="@{/upload/image/logo.png}" alt="">
                </a>
            </div>
            <div class="not-found">
                <img th:src="@{/upload/image/img_find.png}" alt="">
                <p id="sysName"></p>
            </div>
            <div class="goods-name not-found-name">
                <h2>
                    <i class="approve"></i>
                    <span class="companyName"></span>
                </h2>
            </div>
        </div>
        <div style="display: none;" class="searchDiv">
            <div class="service-tel ov">
                <div class="fl">客服电话</div>
                <div class="fr " id="telephone"></div>
                <a class="call" href="" title="">拨打</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var data = {
        searching: false,
        state: '', // success,fail
        // moreInfo: false,
        sysName: "春纪产品溯源查询系统！",
        telephone: "4008304000",
        companyName: "广东春纪生物技术股份有限公司",
        code: "",
        marubiUrl: "http://p.marubi.cn",
        api: {
            baseUrl: "http://p.marubi.cn/backend/api.php",
            // baseUrl: "http://localhost:8080/api.php",
            search: "/search",
            config: "/config"
        },
        goods: {},
        forumClickImg: '/upload/image/footer_forum_btn.png'

    }
    var goForum
    layui.use(['jquery'], function () {
        let $ = layui.jquery
        $(function () {
            $('.companyName').html(data.companyName)
            $('#sysName').html(data.sysName)
            $('#telephone').text(data.telephone)
            $('.cjBgImg').attr('src', data.forumClickImg)
            if (!data.searching) {
                $('.searchDiv').show();
            } else {
                $('.searchDiv').hide();
            }
            $('#loading').show()
            $.post('/config/gerConfigGroup',
                {},
                function (res) {
                    $('#loading').hide();
                    if ('200' == res.code) {
                        $('.a4Tele').attr("href", "tel:" + data.telephone)
                        $.each(res.data, function (index, item) {
                            switch (item.name) {
                                /*case 'CONFIG_GROUP' :
                                    let t = item.value.split(':')
                                    //$('#configGroup').append(new Option(t[1], t[0]))
                                    break;*/
                                case 'CHUNJI_FORUM_URL' :
                                    //$('#urlInput').val(item.value)
                                    //$('#a4GoForum').attr('href',item.value)
                                    var goForumFun = function goForumFun() {
                                        data.forumClickImg = '/upload/image/footer_forum_btn_active.png'
                                        $('.cjBgImg').attr('src', data.forumClickImg)
                                        $('.a4GoForum').attr('href', item.value)
                                        window.location.href = item.value
                                    }
                                    goForum = goForumFun
                                    break;
                                case 'CHUNJI_FOOTER_IMG' :
                                    //$("#image").attr("src", item.value);
                                    $(".ftDiv").attr("style", "background:url('" + item.value + "') center top / 100% 100% no-repeat;");
                                    break;
                            }

                        })
                    }
                })
        })
    })
</script>
<style>
    .ftDiv {
        width: 100%;
        height: 350px;
        background-size: auto;
        position: relative;
    }

    .a4GoForum {
        display: block;
        width: 285px;
        position: absolute;
        left: 100px;
        top: 140px
    }

    .a4Tele {
        height: 40px;
        width: 250px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: 80px;
    }

</style>
</html>