<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员组</title>
    <head th:replace="./layout/meta::commonInsite"></head>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-card-body">
    <table class="layui-table layui-form" id="authTable" lay-filter="authTable">
    </table>
</div>
</body>
<script type="text/html" id="tableBar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn" lay-event="add">
            <i class="layui-icon">&#xe654;</i>添加
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="edit">
            <i class="layui-icon">&#xe642;</i>编辑
        </button>
        <button type="button" class="layui-btn layui-btn" lay-event="detail">
            <i class="layui-icon">&#xe63c;</i>查看
        </button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn" lay-event="delete">
            <i class="layui-icon">&#xe640;</i>删除
        </button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn" lay-event="authorize">
            <i class="layui-icon">&#xe66f;</i>访问授权
        </button>
    </div>
</script>
<script type="text/html" id="tableStatus">
    {{# if(d.status == 0) { }}
    禁用
    {{# } else if(d.status == 1) { }}
    启用
    {{# } }}
</script>
<script th:inline=none>
    layui.use(['table', 'jquery'], function () {
        let table = layui.table
        let $ = layui.jquery

        //表格渲染
        table.render({
            elem: '#authTable',
            id: 'authTable',
            url: '/authGroup/getAuthGroupList',
            method: 'post',
            contentType: 'application/json',
            response: {
                statusCode: 200     //规定成功状态码为200
            },
            request: {
                pageName: 'pageNum',       //页码的参数名称，默认：page
                limitName: 'pageSize'       //每页数据量的参数名，默认：limit
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.info, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                }
            },
            title: '管理员组列表',
            page: true,
            toolbar: '#tableBar',
            defaultToolbar: 'false',
            cols: [[
                {
                    type: 'radio',
                    fixed: 'left'
                },
                {
                    field: 'id',
                    title: 'ID',
                    width: '10%',
                    align: 'center'
                },
                {
                    field: 'title',
                    title: '用户组',
                    width: '35%',
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    width: '10%',
                    align: 'center',
                    templet: '#tableStatus'
                },
                {
                    field: 'description',
                    title: '用户组描述',
                    width: '40%',
                    align: 'center'
                }
            ]]
        })
        //查看选中行数据
        table.on('toolbar(authTable)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            let data = checkStatus.data;  //获取选中行数据
            switch (obj.event) {
                case 'edit':
                    if (ifCheck(data.length)) {
                        layer.open({
                            type: 2,
                            area: ['450px', '400px'],
                            fixed: false,
                            title: '修改管理员组信息',
                            content: 'authEdit',
                            success: function (layero, index) {
                                let body = layer.getChildFrame('body', index);
                                body.find('#id').val(data[0].id)
                                body.find('#title').val(data[0].title)
                                body.find('#description').val(data[0].description)
                                body.find('#status').val(data[0].status)
                            }
                        })
                    }
                    break;
                case 'add':
                    layer.open({
                        type: 2,
                        area: ['450px', '400px'],
                        fixed: false,
                        title: '添加管理员组',
                        content: 'authAdd'
                    })
                    break;
                case 'delete':
                    if (ifCheck(data.length)){
                        layer.confirm('是否确认删除此用户组（删除后将不可恢复）：' + data[0].title, {
                            btn: ['必须删', '不删不删'] //按钮
                        }, function () {
                            $.ajax({
                                url: '/authGroup/authDelete',
                                type: 'post',
                                headers: {
                                    'content-type': 'application/json'
                                },
                                data: JSON.stringify(data[0]),
                                datatype: 'json',
                                success: function (res) {
                                    if ('200' == res.code) {
                                        layer.alert('删除成功')
                                        // 刷新表格
                                        table.reload('authTable', {
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            },
                                            where: data.field  //查询参数
                                        })
                                    } else {
                                        layer.alert(res.info)
                                    }
                                },
                                error: function (e) {
                                    layer.alert(e.responseJSON.error.toString())
                                }
                            })
                        }, function () {
                        });
                    }
                    break;
                case 'authorize':
                    if (ifCheck(data.length)) {
                        layer.open({
                            type: 2,
                            area: ['300px', '600px'],
                            fixed: false,
                            title: '访问授权',
                            content: 'authAccess',
                            success: function (layero, index) {
                                let body = layer.getChildFrame('body', index);
                                body.find('#id').val(data[0].id)
                            }
                        })
                    }
                    break;
            }
        })
        function ifCheck(length) {
            if (length <= 0) {
                layer.alert('请先选择操作行')
                return false
            } else {
                return true
            }
        }
    })
</script>
</html>